// Comment display

.comments {
    background-color: $lightGrey2;
    border-radius: 16px;
    border-top: transparent;
    height: 100%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 7px;
    padding: 0px 20px 10px 20px;

    textarea {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    @include tablette-only {
        max-width: 90%;
    }

    @include mobile {
        max-width: 90%;
    }

    p {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .imgComment {
        margin: auto;
        width: 100%;
        height: 100%;
        max-width: 100%;
        margin-bottom: 10px;
        @include verticalCenter;
    }

    &::before {
        content: "";
        display: inline-block;
        height: 0.5em;
        vertical-align: bottom;
        width: 100%;
        margin-right: -100%;
        margin-left: 10px;
        border-top: 1px solid $lightGrey;
        @include verticalCenter;

    }

}

// Comments form

.postComment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;

    &__textarea {
        width: 100%;
        height: 100%;
        border: solid $lightGrey2 1px;
        border-radius: 16px;
        border-top: transparent;
        display: inline-block;
        width: 94%;
        height: 100%;
        margin: auto;
        margin-bottom: 5px;
        margin-top: 7px;
        padding: 8px 10px 20px 20px;
        background-color: $lightGrey2;

        @include tablette-only {
            max-width: 90%;
        }

        @include mobile {
            max-width: 86%;
        }

    }

    &__Form {
        &--file {

            padding: 15px;
            background-color: $lightGrey;
            border: solid #f2f2f2d3 1px;
            border-radius: 16px;
            border-top: transparent;
            display: inline-block;
            margin-bottom: 10px;
            width: 160px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            cursor: pointer;


            &:hover>span {
                font-weight: 700;
            }
        }

        &--label {
            padding-left: 10px;



        }

        &--labelIcone {
            padding-left: 10px;
            padding-right: 10px;
        }

        &--box {
            padding-bottom: 10px;
            padding-left: 10px;
            margin: auto;
            width: 100%;
            display: flex;
            padding-top: 10px;
        }
    }


    &__submit {
        margin: auto;
        border: solid transparent 1px;
        border-radius: 16px;
        border-top: transparent;
        box-shadow: 0px 5px 15px 1px #7e7e7e2e;
        background-color: #87dbfa;
        width: 20%;
        min-width: 97px;
        height: 100%;
        font-size: large;
        font-weight: 700;
        padding: 10px;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 6px 14px -6px #8f8f8fe3;
            background: lighten($blue, 4%);
        }
    }
}