// Admin - users infos admin container
.user-container__adminBox {
    margin: auto;
    max-width: 1280px;

}

// Admin - users infos admin cards
.user-container__admin {
    @include verticalCenter;
    margin: auto;
    margin-bottom: 20px;
    border: solid #f2f2f2d3 1px;
    border-radius: 16px;
    border-top: transparent;
    box-shadow: 0px 5px 15px 1px #0000002e;
    padding-bottom: 15px;
    width: 95%;



    h3,
    p {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__box {
        margin: auto;
    }

    &--grid {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 10px;

        @include mobile {
            justify-content: center;
        }

        button {
            text-align: center;
            height: 36px;
            margin-left: -10px;

            @include mobile {
                margin-left: 0;
            }
        }
    }
}


#emailAdmin {
    justify-content: center;
}