.navigation {
    display: flex;
    max-width: 1280px;

    ul {
        display: flex;
        flex-direction: row;
        max-width: 1280px;
        width: 100%;
        margin: auto;
        padding: 15px;
    }

    a {
        display: flex;
        max-width: 1280px;
        width: 100%;
        margin: auto;
        padding: 15px;
        text-decoration: none;
        color: black;
        font-weight: 500;
        border: solid transparent 1px;
        border-radius: 16px;
        border-top: transparent;
        display: inline-block;
        box-shadow: 0px 5px 15px 1px #0000002e;
        background-color: $brightRed;
        width: 10%;
        min-width: 100px;
        height: 100%;
        margin-bottom: 24px;
        margin: 10px;
        padding: 10px;

        :hover {
            color: red;
            font-weight: 600;
        }

        li {
            list-style-type: none;
        }
    }
}

.nav-active {
    color: red !important;
    font-weight: 600;
}