.forum-container {
    margin: auto;
    max-width: 1440px;
    overflow: hidden;
    background-color: $white;

    main {
        width: 100%;
        margin: auto;

        @include desktop {
            max-width: 92%;
        }

        @include tablette-only {
            max-width: 90%;
        }

        @include mobile {
            max-width: 90%;
        }
    }

    &__Form {
        align-items: stretch;
        flex-direction: column;
        margin: auto;
        border: solid #f2f2f2d3 1px;
        border-radius: 16px;
        border-top: transparent;
        box-shadow: 0px 5px 15px 1px #0000002e;
        height: 100%;
        margin-bottom: 24px;
        padding: 15px;
        max-width: 1280px;
        overflow: hidden;
        display: block;

        &--title {
            @include boxRadius;
            font-size: large;
        }

        &--content {
            @include boxRadius;
            font-size: medium;
        }

        &--file {

            @include boxRadius;
            width: 160px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            cursor: pointer;
        }

        &--label {
            padding-left: 10px;

        }

        &--labelIcone {
            padding-left: 10px;
            padding-right: 10px;
        }

        &--box {
            padding-bottom: 10px;
        }

        &--submit {
            margin: auto;
            border: solid transparent 1px;
            border-radius: 16px;
            border-top: transparent;
            box-shadow: 0px 5px 15px 1px #7e7e7e2e;
            background-color: $blue;
            width: 100%;
            min-width: 97px;
            height: 100%;
            font-size: large;
            font-weight: 700;
            cursor: pointer;
            padding: 10px;

            &:hover {
                box-shadow: 0px 6px 14px -6px #8f8f8fe3;
                background: lighten($blue, 4%);
            }
        }
    }


    h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    form {
        display: flex;
    }
}

.card-footer {
    &::after {
        content: "";

        display: block;
        height: 2px;
        background-color: $lightGrey3;

        position: relative;
        top: 0;
        left: 0;
    }
}