@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  background: white;
  font-family: 'Montserrat', sans-serif;
}

button {
  border: solid transparent 1px;
  border-radius: 16px;
  border-top: transparent;
  display: inline-block;
  background-color: #87dbfa;
  width: 10%;
  min-width: 97px;
  height: 100%;
  margin-bottom: 24px;
  margin: 4px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: 0px 6px 14px -6px #000000e3;
          box-shadow: 0px 6px 14px -6px #000000e3;
  background: #cbf1ff;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

strong {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

/* Responsive */
/*Media Queries - desktop*/
/*Media Queries - Tablette*/
/*Media Queries - Mobile*/
/*Media Queries - MobileS*/
.comments {
  background-color: #F2F3F5;
  border-radius: 16px;
  border-top: transparent;
  height: 100%;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 7px;
  padding: 0px 20px 10px 20px;
}

.comments textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .comments {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .comments {
    max-width: 90%;
  }
}

.comments p {
  overflow-wrap: break-word;
}

.comments .imgComment {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments::before {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid #f2f2f2d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.postComment__textarea {
  width: 100%;
  height: 100%;
  border: solid #F2F3F5 1px;
  border-radius: 16px;
  border-top: transparent;
  display: inline-block;
  width: 94%;
  height: 100%;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 7px;
  padding: 8px 10px 20px 20px;
  background-color: #F2F3F5;
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .postComment__textarea {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .postComment__textarea {
    max-width: 86%;
  }
}

.postComment__Form--file {
  padding: 15px;
  background-color: #f2f2f2d3;
  border: solid #f2f2f2d3 1px;
  border-radius: 16px;
  border-top: transparent;
  display: inline-block;
  margin-bottom: 10px;
  width: 160px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
}

.postComment__Form--file:hover > span {
  font-weight: 700;
}

.postComment__Form--label {
  padding-left: 10px;
}

.postComment__Form--labelIcone {
  padding-left: 10px;
  padding-right: 10px;
}

.postComment__Form--box {
  padding-bottom: 10px;
  padding-left: 10px;
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.postComment__submit {
  margin: auto;
  border: solid transparent 1px;
  border-radius: 16px;
  border-top: transparent;
  -webkit-box-shadow: 0px 5px 15px 1px #7e7e7e2e;
          box-shadow: 0px 5px 15px 1px #7e7e7e2e;
  background-color: #87dbfa;
  width: 20%;
  min-width: 97px;
  height: 100%;
  font-size: large;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.postComment__submit:hover {
  -webkit-box-shadow: 0px 6px 14px -6px #8f8f8fe3;
          box-shadow: 0px 6px 14px -6px #8f8f8fe3;
  background: #9be1fb;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.logo__image {
  height: 200px;
  width: 200px;
  margin: auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1280px;
  margin: auto;
  padding: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 347px) {
  .navigation ul {
    width: 100%;
  }
}

@media screen and (max-width: 347px) {
  .navigation ul li {
    width: 100%;
    padding: 0 5px 0 5px;
  }
}

@media screen and (max-width: 347px) {
  .navigation ul a {
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 5px 0px;
    text-align: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  text-decoration: none;
  color: black;
  font-weight: 600;
  border: solid transparent 1px;
  border-radius: 16px;
  border-top: transparent;
  display: inline-block;
  -webkit-box-shadow: 0px 5px 15px 1px #0000002e;
          box-shadow: 0px 5px 15px 1px #0000002e;
  background-color: #ff0000;
  width: 10%;
  min-width: 100px;
  margin-bottom: 24px;
  margin: 10px;
  padding: 10px;
  min-width: 110px;
}

.navigation a:hover {
  color: white;
  font-weight: 600;
  background-color: #800000;
}

.navigation a li {
  list-style-type: none;
}

.nav-active {
  color: white !important;
  font-weight: 600;
  background-color: #800000 !important;
}

.post {
  margin: auto;
  border: solid #f2f2f2d3 1px;
  border-radius: 16px;
  border-top: transparent;
  display: block;
  -webkit-box-shadow: 0px 5px 15px 1px #0000002e;
          box-shadow: 0px 5px 15px 1px #0000002e;
  height: 100%;
  margin-bottom: 24px;
  padding: 15px;
  max-width: 720px;
  overflow: hidden;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card-header__imgContainer {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: #00000075 solid 1px;
  margin-top: 5px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card-header__imgContainer--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -15px;
  margin-left: 10px;
}

.card-header em {
  margin-top: -15px;
  font-size: small;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-overflow: ellipsis;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-body textarea,
.card-body input {
  border: 1px solid #61dafb;
  border-radius: 4px;
  margin-top: 10px;
}

.card-body__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.card-body__title--whiteSpace {
  margin-left: 10px;
  width: 10px;
  height: 1px;
}

.card-body h2,
.card-body p {
  overflow-wrap: break-word;
}

.card-body p {
  margin-top: -10px;
}

.card-attachement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.card-attachement--img {
  height: 100%;
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.btn-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 36px;
  margin-bottom: 10px;
}

@media screen and (max-width: 347px) {
  .btn-container {
    margin-bottom: 50px;
  }
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-footer::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #e6e6e6a4;
  position: relative;
  top: 0;
  left: 0;
}

.postLike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 5px;
}

.postLike button {
  all: unset;
  cursor: pointer;
}

.postLike button img {
  width: 20px;
  height: 20px;
  margin-bottom: -3px;
}

.postLike button span {
  font-size: large;
  margin-right: 5px;
}

.errorMessage {
  color: red;
  margin-top: 1em;
  text-align: center;
}

.homeForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: #F2F3F5;
  -webkit-box-shadow: 0px 5px 15px 1px #f2f2f2d3;
          box-shadow: 0px 5px 15px 1px #f2f2f2d3;
  border: solid #f2f2f2d3 1px;
  border-radius: 16px;
  border-top: transparent;
  margin-bottom: 10px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.homeForm h2 {
  font-size: medium;
}

.homeForm__label {
  display: block;
  margin-bottom: 1rem;
}

.homeSubmit {
  margin: auto;
  border: solid transparent 1px;
  border-radius: 16px;
  border-top: transparent;
  -webkit-box-shadow: 0px 5px 15px 1px #7e7e7e2e;
          box-shadow: 0px 5px 15px 1px #7e7e7e2e;
  background-color: #87dbfa;
  width: 20%;
  min-width: 134px;
  height: 100%;
  font-size: large;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.homeSubmit:hover {
  -webkit-box-shadow: 0px 6px 14px -6px #8f8f8fe3;
          box-shadow: 0px 6px 14px -6px #8f8f8fe3;
  background: #9be1fb;
}

.forum-container {
  margin: auto;
  max-width: 1440px;
  overflow: hidden;
  background-color: white;
  padding-bottom: 50px;
}

.forum-container ul,
.forum-container li {
  padding: 0;
  list-style-type: none;
}

.forum-container main {
  width: 100%;
  margin: auto;
}

@media all and (min-width: 992px) and (max-width: 1440px) {
  .forum-container main {
    max-width: 92%;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .forum-container main {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .forum-container main {
    max-width: 90%;
  }
}

.forum-container__Form {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  border: solid #f2f2f2d3 1px;
  border-radius: 16px;
  border-top: transparent;
  -webkit-box-shadow: 0px 5px 15px 1px #0000002e;
          box-shadow: 0px 5px 15px 1px #0000002e;
  height: 100%;
  margin-bottom: 24px;
  padding: 15px;
  max-width: 720px;
  overflow: hidden;
  display: block;
}

.forum-container__Form--title {
  padding: 15px;
  background-color: #F2F3F5;
  -webkit-box-shadow: 0px 5px 15px 1px #f2f2f2d3;
          box-shadow: 0px 5px 15px 1px #f2f2f2d3;
  border: solid #f2f2f2d3 1px;
  border-radius: 16px;
  border-top: transparent;
  margin-bottom: 10px;
  font-size: large;
}

.forum-container__Form--content {
  padding: 15px;
  background-color: #F2F3F5;
  -webkit-box-shadow: 0px 5px 15px 1px #f2f2f2d3;
          box-shadow: 0px 5px 15px 1px #f2f2f2d3;
  border: solid #f2f2f2d3 1px;
  border-radius: 16px;
  border-top: transparent;
  margin-bottom: 10px;
  font-size: medium;
}

.forum-container__Form--file {
  padding: 15px;
  background-color: #F2F3F5;
  -webkit-box-shadow: 0px 5px 15px 1px #f2f2f2d3;
          box-shadow: 0px 5px 15px 1px #f2f2f2d3;
  border: solid #f2f2f2d3 1px;
  border-radius: 16px;
  border-top: transparent;
  margin-bottom: 10px;
  width: 160px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  margin: 0;
}

.forum-container__Form--label {
  padding-left: 10px;
}

.forum-container__Form--labelIcone {
  padding-left: 10px;
  padding-right: 10px;
}

.forum-container__Form--box {
  padding-bottom: 10px;
}

.forum-container__Form--submit {
  margin: auto;
  border: solid transparent 1px;
  border-radius: 16px;
  border-top: transparent;
  -webkit-box-shadow: 0px 5px 15px 1px #7e7e7e2e;
          box-shadow: 0px 5px 15px 1px #7e7e7e2e;
  background-color: #87dbfa;
  width: 100%;
  min-width: 97px;
  height: 100%;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
}

.forum-container__Form--submit:hover {
  -webkit-box-shadow: 0px 6px 14px -6px #8f8f8fe3;
          box-shadow: 0px 6px 14px -6px #8f8f8fe3;
  background: #9be1fb;
}

.forum-container__Form--error {
  color: #ff0000;
}

.forum-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.forum-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.user-header,
.user-container {
  margin: auto;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-container {
  border: solid #f2f2f2d3 1px;
  border-radius: 16px;
  border-top: transparent;
  -webkit-box-shadow: 0px 5px 15px 1px #0000002e;
          box-shadow: 0px 5px 15px 1px #0000002e;
  overflow: hidden;
  padding-left: 20px;
}

.user-container-left {
  margin: auto;
  width: 100%;
}

.user-container__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .user-container__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.user-container__box .userLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-container__box button {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  max-height: 36px;
}

.user-container__box::before {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background-color: #ebebeb;
  position: relative;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .user-container__box {
    margin-left: 0;
  }
}

.user-container__box--info {
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.user-container__box--infoSubDiv {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.userImage__container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: #00000075 solid 1px;
  margin-top: 5px;
  overflow: hidden;
}

.userImage__container--avatar {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.passwordInput {
  margin-top: 15px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  font-size: medium;
}

#message h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

#message p {
  margin: 5px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
}

.adminTitle {
  text-align: center;
}

.user-container__adminBox {
  margin: auto;
  max-width: 1280px;
}

.user-container__admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 20px;
  border: solid #f2f2f2d3 1px;
  border-radius: 16px;
  border-top: transparent;
  -webkit-box-shadow: 0px 5px 15px 1px #0000002e;
          box-shadow: 0px 5px 15px 1px #0000002e;
  padding-bottom: 15px;
  width: 95%;
}

.user-container__admin h3,
.user-container__admin p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-container__admin__box {
  margin: auto;
}

.user-container__admin--grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .user-container__admin--grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.user-container__admin--grid button {
  text-align: center;
  height: 36px;
  margin-left: -10px;
}

@media screen and (max-width: 768px) {
  .user-container__admin--grid button {
    margin-left: 0;
  }
}

#emailAdmin {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */